// Fonts
$font-family-primary: 'Poppins', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

// Brand
$brand1: #FFBB54;
$brand2: #E5E5E5;
$brand3: #DFE23A;
$brand4: #E23A45;




// Grey
$grey-1: #FFFFFF;
$grey-2: #161616;
$grey-3: #08071B;

// Colors
$transparent: transparent;

// Btutton Primary
$primary-button-bg-color: $brand1;
$primary-button-hover-bg-color: $transparent;
$primary-button-border-color: $grey-3;
$primary-button-hover-border-color: $brand1;
$primary-button-text-color: $grey-3;
$primary-button-hover-text-color: $brand1;

// Btutton outline
$outline-button-bg-color: $transparent;
$outline-button-border-color: $brand1;
$outline-button-hover-bg-color: $brand1;
$outline-button-hover-border-color: $brand1;
$outline-button-text-color: $brand1;
$outline-button-hover-text-color: $grey-3;

// Account
$acc-title-color: $grey-1;
$acc-text-color: rgba($grey-1, 0.6);

// Form
$form-link-color: $brand1;
$form-checkbox-color: $brand1;
$input-field-bg-color: rgba($grey-1, 0.1);
$input-field-text-color: rgba($grey-1, 0.6);
$input-field-border-color: rgba($grey-1, 0.1);
$input-field-border-active-color: $brand1;
$form-footer-link-color: rgba($grey-1,0.6);
$form-footer-text-color: rgba($grey-1,0.6);
$form-dividor-color: rgba($grey-1,0.6);
$form-link-icon-hover-fill-color: $grey-2;
$form-link-icon-hover-stroke-color: $brand1;
$form-checkbox-color: $brand1;
$form-checkbox-label-color: rgba($grey-1,0.6);

//Header
$headers-bg-color: $grey-2;
$header-mobile-bg-color: $grey-1;
$header-mobile-wrapper-bg-color: $grey-3;
$header-logo-color: $grey-1;
$header-link-color: $grey-1;
$header-link-divider-color: $grey-1;
$header-social-link-hover-bg-color: $brand1;
$header-social-link-hover-fill-color: $grey-3;

//Banner
$banner-sub-heading-bg-color: rgba($brand1, 0.2);
$banner-sub-heading-color: $brand1;
$banner-title-color: $grey-1;
$banner-text-color: $grey-1;
$banner-button-text-color: $grey-3;

// Stats
$stats-sub-heading-bg-color: rgba($brand1, 0.2);
$stats-sub-heading-color: $brand1;
$stats-title-color: $grey-1;
$stats-text-color: $grey-1;
$stats-value-border-color: $grey-1;
$stats-value-text-color: $grey-1;
$stats-value-bg-color: $grey-2;

// Token
$token-sub-heading-color: $brand1;
$token-sub-heading-bg-color: rgba($brand1, 0.2);
$token-title-color: $grey-1;
$token-text-color: $grey-1;

// Stats Slider
$stats-slider-value-border-color: $grey-1;
$stats-slider-value-text-white-color: $grey-1;
$stats-slider-value-text-yellow-color: $brand3;
$stats-slider-value-text-red-color: $brand4;
$stats-slider-value-text-brand-color: $brand1;
$stats-slider-value-bg-color: rgba($grey-1, 0.1);

// Footer
$footer-bg-color: $grey-1;
$footer-link-color: $grey-1;
$footer-terms-text: $grey-1;
$copyright-text-color: $grey-1;
