@import "variables";
$acc: account;

.#{$acc} {
    &__title {
        color: $acc-title-color;

        @media (min-width:769px) {
            margin-bottom: 12px;
        }
    }

    &__text {
        color: $acc-text-color;

        @media (min-width:769px) {
            margin-bottom: 40px;
        }
    }

    &__link-wrapper {
        display: flex;

        &__link {
            padding: 19px 64px;
            margin-right: 20px;
            width: 100%;

            @media (min-width:769px) {
                width: 48%;
            }

            &:last-child {
                margin-right: none;
            }
        }
    }

    &__form {
        margin-top: 50px;
        margin-bottom: 20px;

        &__chekbox-forgot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            &__forgot {
                
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 40px;

        &__link {
            color: $form-footer-link-color;
        }

        &__text {
            color: $form-footer-text-color;
        }
    }
}